@model ProductPaging
@{
    //Layout = "_Layout";
    ViewData["Title"] = "Home Page";

}
<main>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var p in Model.Products)
            {
                <div class="col-4 mt-4">
                    <div class="card shadow-sm ">
                        <a asp-controller="Home" asp-action="ProductDetails" 
                           asp-route-id="@p.ProductId" asp-route-themeId="@p.Themes[0].ThemeId" >
                            <img class="card-img" src="data:image/jpg;base64,
                                @p.Themes[0].GetImageBase64" alt="Image not found"
                             asp-append-version="true" />
                        </a>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Theme: @p.Themes[0].Name</h6>
                            <p class="card-text font-weight-bold">
                                @p.Name
                                <br />
                                Brand: @p.Supplier.Name
                                <br/>
                                @p.Themes.Count() theme(s) avalaible!
                            </p>
                            <div class="buy d-flex justify-content-between align-items-center">
                                <div class="text-success"><h5 class="mt-4 font-weight-bold">@p.Price.ToString("c")</h5></div>
                                <a class="btn btn-outline-secondary mt-3 font-weight-bold" asp-controller="Home"
                                   asp-action="ProductDetails" asp-route-id="@p.ProductId" asp-route-themeId="@p.Themes[0].ThemeId">
                                    Product details.</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div path-value="@(ViewBag.CurrentCategoryId ?? (ViewBag.Search ?? -1))"
             current-page="PaginationInfo.CurrentPage"
             total-pages="PaginationInfo.TotalPages">
        </div>
    </div>
    
</main>