@model IEnumerable<Product>
@{
    //Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div>   
    <vc:navigation-bar />
</div>
<div class="m-2 table-responsive">
    <h4 class="bg-dark text-white text-center p-2">Products list</h4>
    <table class="table table-sm table-bordered table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Supplier</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Category.Name</td>
                <td>@p.Supplier.Name</td>
                <td class="text-center">
                    <a class="btn btn-outline-info" asp-action="Read" 
                       asp-route-id="@p.ProductId" role="button" >Read</a>
                    <a class="btn btn-outline-secondary" asp-action="Update" 
                       asp-route-id="@p.ProductId" role="button">Update</a>
                    <a class="btn btn-outline-danger" asp-action="Delete"
                       asp-route-id="@p.ProductId" role="button">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>